
{% extends "provider/base.html" %}
{% block title %}OCS - {{usuario.id_provider.nombre}}{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">{{usuario.id_provider.nombre}}</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
    </li>
  </ul>
</nav>
{% endblock navbar %}

{% block sidebar %}

{% endblock sidebar %}

{% block content %}
<div class="container text-center">
  <h5>Perteneces a la compañia: </h5>
  <h4>{{usuario.id_provider.nombre}}</h4>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <a class="btn btn-primary" href="{% url 'products:register' %}">
        Registrar producto
      </a>

      {% for Producto in productos %}
      <li><a href="/products/{{Producto.id}}/edit">
        <span class="fa fa-edit"></span> {{ Producto.nombre }}
      </a></li>
      {% endfor %}
    </div>

    <div class="col">
      <a class="btn btn-primary" href="/accounts/myEmployees/">
        Empleados
      </a>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col">
      {% block extras %}
      {% endblock extras %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
