<!--
"""
Description: HTML view for the office daily schedule
Modified by: Fátima
Modify date: 20-10-18
"""
-->
{% extends "provider/home.html" %}
{% block title %}OCS - Registro de Horario de Oficina{% endblock title %}


{% block content %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Horario de oficina</h1>
  </div>

  <div class="container">
    <p>Asigna las horas en las que tu empresa va a operar</p><br>
    <div class='container'>
      <div class='row'>
        <div class="col">
          <form method="post">
          {% csrf_token %}
          <div class="form-group row">
            <div class="col-2">
            <strong>{{ days_hour.day.nombre }}</strong>
            </div>
            <div class="col-3">
              <label for="s_hour">Hora inicio</label>
              <input class="form-control" type="time" value="12:00" name="s_hour" id="s_hour">
            </div>
            <div class="col-3">
              <label for="f_hour">Hora fin</label>
              <input class="form-control" type="time" value="12:00" name="f_hour" id="f_hour">
            </div>
            <div class="col-3 mt-4">
              <button type="submit" class="btn btn-md btn-primary">Registrar horas</button>
            </div>
          </div>
          <br><hr>

          </form>
          <br><br><br>
        </div>
      </div>
    </div>

  </div>

{% endblock content%}
