{% extends "home/index.html" %}
{% load static %}


{% block title %}OCS - Registro de proveedor{% endblock title %}

{% block content %}
<div class='container' style='max-width:750px'>
  <br><br>
  <center><img class="" src="{% static 'OCS.png' %}" alt="OCS"></center>
  <form action="{% url 'provider:register' %}" method="post">
    {% csrf_token %}
    {% for field in register_form %}
    <div class='form-group'>
      <label for="{{ field.name }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <br>
    <center><button type="submit" class="btn btn-success btn-lg btn-block">Registrar proveedor</button></center>
  </form>
  {{ Success_mesage }}
</div>
<br><br>
{% endblock content %}

{% block footer %}
{% endblock footer %}
