{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Register Account</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'registration/form-validation.css' %}">
  </head>

  <body class="bg-light">

    <div class="container">
      <div class="py-5 text-center">
        <img class="mb-4" src="{% static 'registration/OCS.png' %}" alt="OCS">
        <h2>Regístrate</h2>
        {% if emptyField == 1 %}
        <p class="text-danger">Es necesario llenar todos los campos para hacer el registro</p>
        {% endif %}
      </div>

      <div class="row">
        <div class="">

          <form action="{% url 'registerUser' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
              <label for="username">Usuario (con este se iniciará sesión)</label>
              <div class="input-group">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username"  required>
              </div>
              {% if userAlreadyExists == 1 %}
              <p class="text-danger">El usuario ya existe, por favor escoge otro</p>
              {% endif %}
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Nombre</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Dante" value="" required>

              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Apellidos</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Flores Moreno" value="" required>
              </div>
            </div>



            <div class="mb-3">
              <label for="email">Email </label>
              <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" required>
              {% if emailAlreadyExists == 1 %}
              <p class="text-danger">El correo ya existe, por favor escoge otro</p>
              {% endif %}
            </div>

            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="firstName">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="" value="" required>

              </div>
              <div class="col-md-6 mb-3">
                <label for="lastName">Confirmar contraseña</label>
                <input type="password" class="form-control" id="confpass" name="confpass" placeholder="" value="" required>
              </div>
            </div>
            <div class="py-5 text-center">
              {% if passConfirmError == 1 %}
              <p class="text-danger">Las contraseñas no coinciden</p>
              {% endif %}
            </div>

            <hr class="mb-4">
            <p>Seleccione su rol en la pagina<p>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="userRole" id="userRole1" value="Administrador de empresa" required>
              <label class="form-check-label" for="userRole1">
                Proveedor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="userRole" id="userRole2" value="Dueño de franquicia" required>
              <label class="form-check-label" for="userRole2">
                Franquicia
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="userRole" id="userRole3" value="Empleado generico" required>
              <label class="form-check-label" for="userRole3">
                Empleado
              </label>
            </div>

            <hr class="mb-4">

            <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>
          </form>
        </div>
      </div>

      <footer class="my-5 pt-5 text-muted text-center text-small">
        <br>
        <p class="mb-1">&copy; 2018 OCS</p>

      </footer>
    </div>

    <!-- Bootstrap core JavaScript
       ================================================== -->
       <!-- Placed at the end of the document so the pages load faster -->
       <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
       <script>window.jQuery || document.write('<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"><\/script>')</script>
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" ></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
       <script>
         // Example starter JavaScript for disabling form submissions if there are invalid fields
         (function() {
           'use strict';
           window.addEventListener('load', function() {
             // Fetch all the forms we want to apply custom Bootstrap validation styles to
             var forms = document.getElementsByClassName('needs-validation');
             // Loop over them and prevent submission
             var validation = Array.prototype.filter.call(forms, function(form) {
               form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                   event.preventDefault();
                   event.stopPropagation();
                 }
                 form.classList.add('was-validated');
               }, false);
             });
           }, false);
         })();
       </script>

  </body>
</html>
