{% extends "accounts/landing.html" %}
{% load static %}

{% block title %}OCS - Registro{% endblock title %}

{% block includes %}
<link rel="stylesheet" type="text/css" href="{% static 'landing/landing.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'registration/form-validation.css' %}">
{% endblock includes %}

{% block navbar %}
<nav class="navbar navbar-expand-lg fixed-top" style="background-color:rgb(34,49,63)">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}" style="color:white">
      Order Control System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop" aria-controls="navbarTop" aria-expanded="false" aria-label="Toggle navigation"  style="color:rgb(243,156,18)">
      <span class="fa fa-user-circle"></span>
    </button>
    <ul class="navbar-nav px-3">
      <div class="collapse navbar-collapse" id="navbarTop">
        <div class="row">
          {% if next %}
              {% if user.is_authenticated %}
              <p>No tienes permiso para acceder a esta zona.</p>
              {% else %}
              <p>Por favor, inicia sesión para ver esta página.</p>
              {% endif %}
          {% endif %}
          {% if form.errors %}
          <p>El usuario o la contraseña ingresados no coinciden </p>
          {% endif %}
          &emsp;
          <li class="nav-item">
            <a class="nav-link" href="" data-toggle="modal" data-target="#modalLogin" style="color:rgb(243,156,18)"><span class="fa fa-sign-in"></span> Iniciar sesión</a>
          </li>
        </div>
      </div>
    </ul>
  </div>
</nav>
{% endblock navbar %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<div style="background-color:rgb(216,221,227); margin-left:10%; margin-right:10%">
  <div class="container" style="padding-bottom:60px">
    <div class="py-4 text-center">
      <h2>Regístrate</h2>
      {% if emptyField == 1 %}
      <p class="text-danger">Es necesario llenar todos los campos para hacer el registro</p>
      {% endif %}
    </div>
    <form action="{% url 'registerUser' %}" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col mb-3">
          <label for="username">Usuario (con este se iniciará sesión)</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username"  required>
          {% if userAlreadyExists == 1 %}
          <p class="text-danger">El usuario ya existe, por favor escoge otro</p>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
          <label for="firstName">Nombre</label>
          <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Dante" value="" required>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
          <label for="lastName">Apellidos</label>
          <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Flores Moreno" value="" required>
        </div>
      </div>
      <div class="row">
        <div class="col mb-3">
          <label for="email">Email </label>
          <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com" required>
          {% if emailAlreadyExists == 1 %}
          <p class="text-danger">El correo ya existe, por favor escoge otro</p>
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
          <label for="firstName">Contraseña</label>
          <input type="password" class="form-control" id="password" name="password" placeholder="********" value="" required>
        </div>
        <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mb-3">
          <label for="lastName">Confirmar contraseña</label>
          <input type="password" class="form-control" id="confpass" name="confpass" placeholder="********" value="" required>
        </div>
      </div>
      <div class="form-check">
        <input required class="form-check-input" type="checkbox" value="" id="TermsConditions">
        <label class="form-check-label" for="TermsConditions">
          <small>He leído y acepto los <a href="">términos y condiciones</a></small>
        </label>
      </div>
      <div class="text-center">
        {% if passConfirmError == 1 %}
        <p class="text-danger">Las contraseñas no coinciden</p>
        {% endif %}
      </div>
      <br>
      <div class="text-center">
        <button class="btn btn-primary btn-lg" type="submit">Registrar</button>
      </div>
    </form>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script>
  (function() {
    'use strict';
    window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
 </script>
{% endblock content %}
