{% extends "provider/home.html" %}


{% block extras %}
<div class="container">
  <div class="row">
    <div class="col">
      {{ producto.nombre }}
    </div>
    <div class="col">
      {{ producto.descripcion }}
    </div>
    <div class="col">
      {{ producto.codigo }}
    </div>
    <div class="col">
      <a href="/products/{{producto.id}}/ableUnable">
        {% if producto.activo %}
        <span class="fa fa-minus-square"></span> Desactivar
        {% else %}
        <span class="fa fa-plus-square"></span> Activar
        {% endif %}
      </a>
    </div>

  </div>
</div>
{% endblock extras %}
