{% extends "provider/home.html" %}

{% block content %}
<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
<!-- AGRGAR Y EDITAR PRODUCTOS -->
{% if edit %}
<form action="{% url 'products:edit' producto.id %}" method="post">
{% else %}
<form action="{% url 'products:register' %}" method="post">
{% endif %}
  {% csrf_token %}
  <div class="row rounded" style="padding:10px;background-color:gray">
    <br>
    <div class="col-12">
      {% if edit %}
      <h4>{{producto.nombre}}</h4>
      {% else %}
      <h4>Nuevo producto:</h4>
      {% endif %}
    </div>
    <div class="col-12 col-sm-4 col-md-4 col-lg-2 col-xl-2 form-group">
      <label for="nombre">Nombre</label>
      {% if edit %}
      <input id="nombre" name="nombre" type="text" class="form-control" placeholder="producto" max_length=100 value="{{producto.nombre}}">
      {% else %}
      <input id="nombre" name="nombre" type="text" class="form-control" placeholder="producto" max_length=100>
      {% endif %}
    </div>
    <div class="col-12 col-sm-8 col-md-8 col-lg-5 col-xl-5 form-group">
      <label for="descripcion">Descripción</label>
      {% if edit %}
      <input id="descripcion" name="descripcion" type="text" class="form-control" placeholder="descripción del producto" max_length=200 value="{{producto.descripcion}}">
      {% else %}
      <input id="descripcion" name="descripcion" type="text" class="form-control" placeholder="descripción del producto" max_length=200>
      {% endif %}
    </div>
    <div class="col-12 col-sm-7 col-md-7 col-lg-3 col-xl-3 form-group">
      <label for="codigo">Código</label>
      {% if edit %}
      <input id="codigo" name="codigo" type="text" class="form-control" placeholder="CODIG123" max_length=10 value="{{producto.codigo}}">
      {% else %}
      <input id="codigo" name="codigo" type="text" class="form-control" placeholder="CODIG123" max_length=10>
      {% endif %}
    </div>
    <div class="col-12 col-sm-5 col-md-5 col-lg-2 col-xl-2 form-group">
      <label for="activo">Activo</label>
      {% if edit %}
      {% if producto.activo %}
      <input id="activo" name="activo" type="checkbox" class="form-control" checked>
      {% else %}
      <input id="activo" name="activo" type="checkbox" class="form-control">
      {% endif %}
      {% else %}
      <input id="activo" name="activo" type="checkbox" class="form-control" checked>
      {% endif %}
    </div>
    {% if messages %}
    <div class="col-4 text-center">
    {% for message in messages %}
      <strong><p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></strong>
    {% endfor %}
    </div>
    <div class="col-4 text-center">
      {% if edit %}
      <button type="submit" class="btn btn-success">Actualizar información de {{producto.nombre}}</button>
      {% else %}
      <button type="submit" class="btn btn-success">Agregar producto</button>
      {% endif %}
    </div>
    <div class="col-4"></div>
    {% else %}
    <div class="col-12 text-center">
      {% if edit %}
      <button type="submit" class="btn btn-success">Actualizar información de {{producto.nombre}}</button>
      {% else %}
      <button type="submit" class="btn btn-success">Agregar producto</button>
      {% endif %}
    </div>
    {% endif %}
  </div>
</form>
<br>
<!-- TABLA DE PRODUCTOS -->
<table id="myTable" class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Código</th>
      <th scope="col">Activo</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for Producto in productos %}
    <tr>
      <td scope="row">{{ Producto.id }}</td>
      <th>{{ Producto.nombre }}</th>
      <td>{{ Producto.descripcion }}</td>
      <td>{{ Producto.codigo }}</td>
      <td>
        <a href="/products/ableUnable/{{Producto.id}}">
        {% if Producto.activo %}
        <span class="fa fa-eye" style="color:green"></span>
        {% else %}
        <span class="fa fa-eye-slash" style="color:red"></span>
        {% endif %}
        <a>
      </td>
      <td><a href="/products/edit/{{Producto.id}}"><span class="fa fa-edit"></span></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% block extras %}

{% endblock extras %}

{% endblock content %}
