{% extends "provider/home.html" %}

{% block content %}
<div class="clearfix">
  <h3 class="float-left">
    Catálogo de productos:
  </h3>
  <h3 class="float-right nombre_producto">
  </h3>
</div>

<hr />
<!-- TABLA DE PRODUCTOS -->
<div class="row">
  <div class="col">
    <div class="card">
      <div class="container">
        <table id="myTable" class="table table-hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Código</th>
              <th scope="col">Activo</th>
              <th scope="col">Editar</th>
            </tr>
          </thead>
          <tbody>
            {% for Producto in productos %}
            <tr>
              <td scope="row">{{ Producto.id }}</td>
              <th>{{ Producto.nombre.capitalize }}</th>
              <td>{{ Producto.codigo }}</td>
              <td class="text-center">
                {% if Producto.activo %}
                <a href="/products/ableUnable/{{Producto.id}}" style="color:green">
                  <span class="fa fa-eye"></span>
                </a>
                {% else %}
                <a href="/products/ableUnable/{{Producto.id}}" style="color:red">
                  <span class="fa fa-eye-slash"></span>
                </a>
                {% endif %}
              </td>
              <td class="text-center">
                <button type="button" class="btn btn-warning" name="button" onclick="editProduct({{Producto.id}})" data-toggle="tooltip" data-placement="left" title="Editar información de {{ Producto.nombre }}">
                  <span class="fa fa-edit"></span>
                </button>

                <a hidden class="btn btn-dark" role="button" href="/products/edit/{{Producto.id}}">
                  <span class="fa fa-edit"></span>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- SECCION PARA EDITAR Y AGREGAR PRODUCTOS -->
  <div class="col">
    <div class="card text-center">
      <div class="card-body">
        <div class="clearfix">
          <h6 class="float-left">Información general: <b class="nombre_producto"></b></h6>
          <button type="button" class="btn btn-info float-right" onclick="showAgregar()">
            <span class="fa fa-plus align-middle" style="font-size:18px"></span> Nuevo producto
          </button>
        </div>
        <hr />
        <div id="editar_producto" class="">
          <div id="no_selected" class="" style="color:gray">
            <br />
            <span class="fa fa-edit"></span> Selecciona un producto para editarlo
            <br /><br />
          </div>
          <div id="selected" class="text-left" hidden>
            <form action="{% url 'products:edit' %}" method="post">
              {% csrf_token %}
              <input required id="id_product" name="id_product" type="number" hidden>
              <div class="row pb-2">
                <div class="col-6">
                  <label for="nombre">Nombre:</label>
                  <input required id="nombre" name="nombre" type="text" class="form-control" placeholder="producto" max_length=100>
                  <label for="codigo">Código:</label>
                  <input required id="codigo" name="codigo" type="text" class="form-control" placeholder="CODIG123" max_length=10>
                  <div class="" hidden>
                    <label for="activo">Activo:</label>
                    <input id="activo" name="activo" type="checkbox" class="form-control" checked>
                  </div>
                </div>
                <div class="col-6">
                  <label for="descripcion">Descripción:</label>
                  <textarea required id="descripcion" name="descripcion" type="text" class="form-control" placeholder="descripción del producto" max_length=200 rows="4"></textarea>
                </div>
              </div>
              <center>
                <div class="btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-danger" onclick="cancelEdit()">Cancelar</button>
                  <button type="submit" class="btn btn-success">Actualizar información</button>
                </div>
              </center>
            </form>
          </div>
        </div>
        <div id="agregar_producto" class="text-left" hidden>
          <form action="{% url 'products:register' %}" method="post">
            {% csrf_token %}
            <div class="row pb-2">
              <div class="col-6">
                <label for="nombre">Nombre:</label>
                <input required id="nombre" name="nombre" type="text" class="form-control" placeholder="producto" max_length=100>
                <label for="codigo">Código:</label>
                <input required id="codigo" name="codigo" type="text" class="form-control" placeholder="CODIG123" max_length=10>
                <div class="" hidden>
                  <label for="activo">Activo:</label>
                  <input id="activo" name="activo" type="checkbox" class="form-control" checked>
                </div>
              </div>
              <div class="col-6">
                <label for="descripcion">Descripción:</label>
                <textarea required id="descripcion" name="descripcion" type="text" class="form-control" placeholder="descripción del producto" max_length=200 rows="4"></textarea>
              </div>
            </div>
            <hr />
            <div class="row pb-2">
              <div class="col-6">
                <label for="unidad_medida">Unidad de medida inicial:</label>
                <select required class="form-control" id="unidad_medida" name="unidad_medida">
                  <option value="None" disabled selected>Selecciona una unidad</option>
                  {% for Unidad in unidad %}
                  <option value="{{Unidad.id}}">{{Unidad.abreviacion}} - {{Unidad.nombre}}</option>
                  {% endfor %}
                </select>
              </div>
              <div class="col-6">
                <label for="precio">Precio:</label>
                <input required id="precio" name="precio" placeholder="0,00" type="number" class="form-control" min="0" step="0.01">
              </div>
            </div>

            <center>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-danger" onclick="cancelAgregar()">Cancelar</button>
                <button type="submit" class="btn btn-success">Agregar producto</button>
              </div>
            </center>
          </form>
        </div>
      </div>
    </div>
    <hr />
    <div class="card">
      <div class="card-body">
        <h6>Precio por unidad de medida: <b class="nombre_producto"></b></h6>
        <hr />
        <div id="no_selected_price" class="text-center" style="color:gray">
          <br />
          <span class="fa fa-edit"></span> Selecciona un producto para ver sus precios
          <br /><br />
        </div>
        <div id="adding_price" class="text-center" style="color:gray" hidden>
          <br />
          <span class="fa fa-plus"></span> Agrega el producto para poder agregar más precios por unidad de medida
          <br /><br />
        </div>
        <div id="selected_price" class="" hidden>
          <input required id="id_product" name="id_product" type="number" hidden>
          <div id="precios_de_producto" class="row">
          </div>

          <div class="row">
            <div class="col-5">
              <select required class="form-control" id="unidad_de_medida" onclick="checaUnidad();">
                <option value="0" disabled selected>Selecciona una unidad</option>
                {% for Unidad in unidad %}
                <option value="{{Unidad.id}}" id="optuni{{Unidad.id}}">{{Unidad.abreviacion}} - {{Unidad.nombre}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-4">
              <input required id="price" name="price" placeholder="Precio"type="number" class="form-control" min="0" value="0" step="0.01">
            </div>
            <div class="col-3 align-self-center">
              <button type="button" class="btn btn-success" name="button" onclick="addPrice()">
                <span class="fa fa-plus"></span>
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
