<!--
Description: HTML view of the consult employee information detail
Modified by: Fátima
Modify date: 10-10-18
-->
{% extends aux %}
{% block content %}
<div class="clearfix">
  <h3 class="float-left">
    Usuarios
  </h3>
  <h3 class="float-right">
  </h3>
</div>

<hr />

<table class="table table-striped" id="table_id">
  <thead class="thead-dark">
    <tr>
      <th>#</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Último inicio de sesión</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    {% for OCSUser in empleados_list %}
    <tr>
      <td>{{ OCSUser.user.id }}</td>
      <tH>{{ OCSUser.user.username }}</th>
      <td>{{ OCSUser.user.email }}</td>
      <td>{{ OCSUser.user.last_login }}</td>
      <td><a href="{% url 'verEmpleado' OCSUser.user.id %}"><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></a>&nbsp &nbsp<a href="{% url 'delete' OCSUser.user.id %}"><i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<a href="/accounts/linkEmployee/">
  <button type="button" class="btn btn-primary">Registrar empleado</button>
</a>
{% block registrarEmpleado %}

{% endblock registrarEmpleado %}

{% block verEmpleado %}

{% endblock verEmpleado %}


<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

<script>
$(document).ready( function () {
  $('#table_id').DataTable();
} );
</script>
{% endblock content %}
