{% extends "franchise/home.html" %}
{% load static %}

{% block extras %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mi Inventario</h1>
</div>

<table class="table table-striped table-bordered" id="my_providers">
  <thead class="thead-dark">
    <tr>
       <!-- <th>Código   <span data-toggle="help_code" title="Sólo los productos registrados de un proveedor tendrán código" class="fa fa-question-circle"></span></th> -->
      <th>Producto</th>
      <th>Descripción</th>
      <th>Cantidad</th>
      <th>Unidad</th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    <tr>
      <!-- <td> </td> -->
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.amount }}</td>
      <td>{{ product.unit }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />

<div class="row">
    <div class="col-1">
      <!--Modal Button -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register_modal" title="Agrega un producto que no sea de un proveedor registrado">
        <span class="fa fa-plus"></span>
      </button>
    </div>
    <div class="col-1">
      <!-- PDF Button -->
      <form action="{% url 'franchise:inventory:create_excel' %}" method='POST'>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"  data-toggle="excel" title="Descarga un archivo EXCEL de tu inventario"><i class="fa fa-file-excel-o"></i></button>
      </form>
    </div>
</div>






<!-- Modal -->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="register_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="register_modalLabel">Registrar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          Agrega un producto que no sea de un provedor registrado
        </p>

        <form method="POST" action="{% url 'franchise:inventory:register_private_product' %}">
        {% csrf_token %}

        <div class="col mb-3">
          <label for="product_name">Nombre</label>
          <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Papas"  required>
        </div>

        <div class="col mb-3">
          <label for="product_desc">Descripción</label>
          <input type="text" class="form-control" id="product_desc" name="product_desc" placeholder="Papas cambray"  required>
        </div>

        <div class="row">
          <div class="col">
            <label for="product_amount">Cantidad</label>
            <input type="number" class="form-control" id="product_amount" name="product_amount" required>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="product_unit">Unidad de medida</label>
              <select class="form-control" id="product_unit" name="product_unit">
                <option value="KG">Kilogramos</option>
                <option value="GR">Gramos</option>
                <option value="PZ">Piezas</option>
                <option value="BUL">Bultos</option>
                <option value="MAN">Manojos</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="help_code"]').tooltip();
    $('[data-toggle="modal"]').tooltip();
    $('[data-toggle="excel"]').tooltip();
});
</script>
{% endblock extras %}
