{% extends "franchise/home.html" %}
{% load static %}

{% block extras %}
<div class="clearfix">
  <h3 class="float-left">
    Registro de Entradas/Salidas
  </h3>
  <h3 class="float-right">
  </h3>
</div>

<hr />

<table class="table table-hover fixed display" id="">
  <thead class="thead-dark">
    <tr>
      <th style="width:160px">Fecha y hora</th>
      <th style="width:10px">Cantidad</th>
      <th style="width:10px">Unidad</th>
      <th style="width:150px">Nombre</th>
      <th style="">Comentario</th>
      <th style="width:10px">E/S</th>
    </tr>
  </thead>
  <tbody>
    {% for record in record_list %}
    {% if record.io %}
    <tr class="table-success">
      <td>{{ record.date }}</td>
      <td>{{ record.amount }}</td>
      <td>{{ record.id_private_product.unit }} {{ record.id_unidad.abreviacion }}</td>
      <td>{{ record.id_private_product.name }} {{ record.id_linked_product.id_product.nombre }}</td>
      <td>{{ record.comment }}</td>
      <td><i class="fa fa-plus"><text style="visibility: hidden;">E</text></i></td>
    </tr>
    {% else %}
    <tr class="table-danger">
      <td>{{ record.date }}</td>
      <td>{{ record.amount }}</td>
      <td>{{ record.id_private_product.unit }} {{ record.id_unidad.abreviacion }}</td>
      <td>{{ record.id_private_product.name }} {{ record.id_linked_product.id_product.nombre }}</td>
      <td>{{ record.comment }}</td>
      <td value="S"><i class="fa fa-minus"><text style="visibility: hidden;">S</text></i></td>
    </tr>
    {% endif %}
    {% endfor %}


  </tbody>
</table>

<script type="text/javascript" charset="utf8" src="{% static 'js/datatables_records.js' %}"></script>

<!-- newR.date.strftime('%d-%m-%Y %H:%M:%S') -->
{% endblock extras %}
