{% extends "franchise/home.html" %}
{% load static %}

{% block extras %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mi Inventario</h1>
</div>


<h4 style="display:inline">Inventario automático</h4>
<span data-toggle="help_code" title="Este inventario se actualiza automáticamente basado en los pedidos que realizan a proveedores registrados." class="fa fa-question-circle" style="display:inline"></span>
<table class="table table-striped table-bordered fixed display" id="">
  <thead class="thead-dark">
    <tr>
      <th style="width:10px">Cantidad</th>
      <th style="width:10px">Unidad</th>
      <th style="width:200px">Nombre</th>
      <th>Proveedor</th>
      <th style="width:10px"></th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>
    <tr>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td>Test</td>
      <td></td>
    </tr>

  </tbody>
</table>


<h4 style="display:inline">Inventario privado</h4>
<span data-toggle="help_code" title="Este es un inventario personal, para tener seguimiento de los productos provenientes de un proveedor no registrado." class="fa fa-question-circle" style="display:inline"></span>
<table class="table table-striped table-bordered fixed display" id="">
  <thead class="thead-dark">
    <tr>
      <th style="width:10px">Cantidad</th>
      <th style="width:10px">Unidad</th>
      <th style="width:200px">Nombre</th>
      <th>Descripción</th>
      <th style="width:10px"></th>
    </tr>
  </thead>
  <tbody>
    {% for product in product_list %}
    <tr>
      <td>{{ product.amount }}</td>
      <td>{{ product.unit }}</td>
      <td id="product_{{ product.id }}">{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td><span  class="fa fa-edit"  data-toggle="modal" data-target="#io_products" onclick="update_private_product({{ product.id }})" ></span>
</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br />


<div class="row">
    <div class="col-1">
      <!--Register Button -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#register_modal" title="Agrega un producto que no sea de un proveedor registrado">
        <span class="fa fa-plus"></span>
      </button>
    </div>
    <div class="col-1">
      <!-- PDF Button -->
      <form action="{% url 'franchise:inventory:create_excel' %}" method='POST'>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary"  data-toggle="excel" title="Descarga un archivo EXCEL de tu inventario"><i class="fa fa-file-excel-o"></i></button>
      </form>
    </div>
</div>




<!-- Modal in/out products -->
<div class="modal fade" id="io_products" tabindex="-1" role="dialog" aria-labelledby="io_productsTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Entradas/Salidas</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'franchise:inventory:update_private_product' %}" method="POST">
        {% csrf_token %}
        <div class="modal-body">

          <div class="container">
            <div class="row justify-content-md-center">
              <!-- Product to edit -->
              <h5 id="product_title">Nombre del producto</h5>
            </div>
            <div class="row justify-content-md-center">
              <input type="hidden" name="id_product" value="" id="id_product_to_change">
              <!-- Switch in/out -->
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label onclick="change_to_input_text()" class="btn btn-light active">
                    <input type="radio" name="product_io" id="in" autocomplete="off" value="in" checked> Entrada
                  </label>
                <label onclick="change_to_output_text()" class="btn btn-light">
                  <input type="radio" name="product_io" id="out" autocomplete="off" value="out"> Salida
                </label>
              </div>
            </div>
            <div class="row justify-content-md-center">
              <!-- Amount -->
              <label for="product_amount" id="io_text">Cantidad que será ingresada</label>
              <input type="number" class="form-control" id="product_amount" name="product_amount"  min="1" required>
            </div>
            <div class="row justify-content-md-center">
              <!-- Comments -->
              <label for="product_comment">Comentarios</label>
               <textarea class="form-control" id="product_comment" name="product_comment" rows="3" maxlength="255"></textarea>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-success">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal register product-->
<div class="modal fade" id="register_modal" tabindex="-1" role="dialog" aria-labelledby="register_modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="register_modalLabel">Registrar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <p>
          Agrega un producto que no sea de un provedor registrado
        </p>

        <form method="POST" action="{% url 'franchise:inventory:register_private_product' %}">
        {% csrf_token %}

        <div class="col mb-3">
          <label for="product_name">Nombre</label>
          <input type="text" class="form-control" id="product_name" name="product_name" placeholder="Mermelada de fresa"  required>
        </div>

        <div class="col mb-3">
          <label for="product_desc">Descripción</label>
          <input type="text" class="form-control" id="product_desc" name="product_desc" placeholder="Frasco de 980gr"  required>
        </div>

        <div class="row">
          <div class="col">
            <label for="product_amount">Cantidad</label>
            <input type="number" class="form-control" id="product_amount" name="product_amount" required>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="product_unit">Unidad de medida</label>
              <select class="form-control" id="product_unit" name="product_unit">
                <option value="KG">Kilogramos</option>
                <option value="GR">Gramos</option>
                <option value="PZ">Piezas</option>
                <option value="BUL">Bultos</option>
                <option value="MAN">Manojos</option>
              </select>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="help_code"]').tooltip();
    $('[data-toggle="modal"]').tooltip();
    $('[data-toggle="excel"]').tooltip();
});
</script>
{% endblock extras %}
