{% extends "franchise/home.html" %}

{% block extras %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mis proveedores</h1>
</div>

<div class="container">
  <div class='container'>
    <div class='row'>

      {% if empty_list == 1 %}
      <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <p>
          Aún no te has relacionado con proveedores.
        </p>
        <p>
          Da click <a href="/franchise/my_providers/link/">aquí</a>
          para enlazarte con tus proveedores registrados
        </p>
      </div>
      {% endif %}
      {% if empty_list == 0 %}
      <div class="col">
        <a class="btn btn-primary" href="/franchise/my_providers/link/">
          Enlazarme con un proveedor
        </a>
      </div>

      <table  class="table table-striped" id="my_providers">
        <thead class="thead-dark">
          <tr>
            <th>Nombre</th>
            <th>Responsable</th>
          </tr>
        </thead>

        <tbody>
          {% for provider in relation_list %}
          <tr>
            <th>{{ provider.id_provider.nombre }}</th>
            <th>{{ provider.id_provider.id_usuario.first_name }} {{provider.id_provider.id_usuario.last_name}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endif %}
    </div>
  </div>

</div>


<script>
$(document).ready( function () {
    $('#my_providers').DataTable();
} );

</script>

{% endblock extras %}
