<!--
Description: HTML base
Modified by: Carlos
Modify date: 18/10/2018
-->

{% extends "franchise/home.html" %}

{% block extras %}

{% if success %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ provider.nombre }}</h1>
</div>

<div class="container">
  <div class='container'>

    <div class="row">
      <div class="col">
        <b>Razón social</b>
      </div>
      <div class="col">
        {{ provider.razon_social }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>RFC</b>
      </div>
      <div class="col">
        {{ provider.rfc }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Domicilio</b>
      </div>
      <div class="col">
        {{ provider.domicilio }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Misión</b>
      </div>
      <div class="col">
        {{ provider.mision }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Visión</b>
      </div>
      <div class="col">
        {{ provider.vision }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Responsable</b>
      </div>
      <div class="col">
        {{ provider.id_usuario.first_name }} {{ provider.id_usuario.last_name }}
      </div>
    </div>
{% endif %}

{% if success == False %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">ERROR 404: No encontramos el proveedor que estás buscando</h1>
</div>
{% endif %}

  </div>
</div>


{% endblock extras %}
