{% extends "franchise/home.html" %}

{% block extras %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">[Nombre del proveedor]</h1>
</div>

<div class="container">
  <div class='container'>

    <div class="row">
      <div class="col">
        <b>Razón social</b>
      </div>
      <div class="col">
        Razón Social Proveedor
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>RFC</b>
      </div>
      <div class="col">
        RFC Proveedor
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Nombre</b>
      </div>
      <div class="col">
        Nombre Proveedor
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Domicilio</b>
      </div>
      <div class="col">
        Domicilio Proveedor
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Misión</b>
      </div>
      <div class="col">
        Misión Proveedor
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Visión</b>
      </div>
      <div class="col">
        Visión Proveedor
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Responsable</b>
      </div>
      <div class="col">
        Responsable Proveedor
      </div>
    </div>



  </div>
</div>


{% endblock extras %}
