<!--
Description: HTML base
Modified by: Carlos
Modify date: 18/10/2018
-->

{% extends "franchise/home.html" %}

{% block extras %}

{% if success %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{ provider.nombre }}</h1>
</div>

<div class="container">
  <div class='container'>

    <div class="row">
      <div class="col">
        <b>Razón social</b>
      </div>
      <div class="col">
        {{ provider.razon_social }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>RFC</b>
      </div>
      <div class="col">
        {{ provider.rfc }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Domicilio</b>
      </div>
      <div class="col">
        {{ provider.domicilio }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Misión</b>
      </div>
      <div class="col">
        {{ provider.mision }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Visión</b>
      </div>
      <div class="col">
        {{ provider.vision }}
      </div>
    </div>

    <div class="row">
      <div class="col">
        <b>Responsable</b>
      </div>
      <div class="col">
        {{ provider.id_usuario.first_name }} {{ provider.id_usuario.last_name }}
      </div>
    </div>
{% endif %}

{% if success == False %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">ERROR 404: No encontramos el proveedor que estás buscando</h1>
</div>
{% endif %}

<div class="row mt-5">
  <div class="col">
    <h4>Mapa al proveedor</h4>
  </div>
</div>

<div class="row mt-2">
  <div class="col-4">
    <input class="form-control form-control-sm" id="address" type="textbox" value="{{provider.domicilio}}">
  </div>
  <div class="col md-3">
    <input type="button" class="btn btn-light" value="Consultar" onclick="codeAddress()">
  </div>
</div>
<br>
<div id="map" style="width: 80%; height: 480px;"></div>

<div class="row mt-4">
  <div class="col">
    <a class="btn btn-secondary" href="/franchise/my_providers">Regresar</a>
  </div>
</div>

<script>
  var geocoder;
  var map;
  function initialize() {
    geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(-34.397, 150.644);
    var mapOptions = {
      zoom: 8,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
  }

  function codeAddress() {
    var address = document.getElementById('address').value;
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == 'OK') {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDB8Lt-MoLOz3zirxZuFRfbi-Ce-j3z-M&callback=myMap"></script>





  </div>
</div>


{% endblock extras %}
