{% extends "franchise/base.html" %}

{% block title %}OCS - {{usuario.id_franchise.nombre}}{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">{{usuario.id_franchise.nombre}}</a>
  <ul class="navbar-nav px-3">
    <div class="row">
      <li class="nav-item">
        <div class="popup" onclick="popUP()">
          <a class="nav-link"><span class="fa fa-user-circle" style="font-size:20px"></span>&emsp;{{usuario.user}}</a>
          <div class="popuptext shadow" id="myPopup">
            <div class="list-group">
              <a href="/accounts/profile/" class="list-group-item list-group-item-action">
                <span class="fa fa-user"></span> Mi perfil
              </a>
              <a href="/franchise/profile/" class="list-group-item list-group-item-action">
                <span class="fa fa-industry"></span> {{usuario.id_franchise.nombre}}
              </a>
            </div>
          </div>
        </div>
      </li>
      &emsp;&emsp;&emsp;&emsp;&emsp;
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
      </li>
    </div>
  </ul>
</nav>
{% endblock navbar %}

{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-brand"></li>
    <li><a href="/franchise/home/"><span class="fa fa-home"></span> Inicio</a></li>
    <li><a href="/accounts/myEmployees/"><span class="fa fa-users"></span> Usuarios</a></li>
    <li><a href="{% url 'franchise:show_inventory' %}"><span class="fa fa-book"></span> Mi Inventario</a></li>
    <li><a href="/franchise/my_providers/"><span class="fa fa-handshake-o"></span> Mis proveedores</a></li>
<!--<li><a href="#">Events</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>-->
</ul>
{% endblock sidebar %}

{% block content %}
  {% block extras %}
  {% endblock extras %}
{% endblock content %}

{% block footer %}
<script>
function popUP() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}
</script>
{% endblock footer %}
