{% extends "franchise/base.html" %}

{% block title %}OCS - {{usuario.id_franchise.nombre}}{% endblock title %}

{% block navbar %}
<nav class="navbar navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">{{usuario.id_franchise.nombre}}</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}"><span class="fa fa-sign-out"></span> Cerrar sesión</a>
    </li>
  </ul>
</nav>
{% endblock navbar %}

{% block sidebar %}
<ul class="sidebar-nav">
    <li class="sidebar-brand"></li>
    <li><a href="/franchise/home/"><span class="fa fa-home"></span> Inicio</a></li>
    <li><a href="/accounts/myEmployees/"><span class="fa fa-users"></span> Usuarios</a></li>
    <li><a href="/franchise/my_providers/"><span class="fa fa-handshake-o"></span> Mis proveedores</a></li>
    <li><a href="{% url 'franchise:show_inventory' %}"><span class="fa fa-book"></span> Mi Inventario</a></li>
    <!--<li><a href="#">Events</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Contact</a></li>-->
</ul>
{% endblock sidebar %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      {% block extras %}
      {% endblock extras %}
    </div>
  </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}
