
{% extends "provider/home.html" %}
{% load static %}
{% block extras %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Mis pedidos</h1>
</div>

<div class='row'>
  {% if empty_list == 1 and empty_list_re == 1%}
  <div class="shadow-lg p-3 mb-5 bg-white rounded">
    <p>
      Aún no tienes ningún pedido.
    </p>
  </div>
  {% endif %}
</div>

{% if empty_list == 0 %}
<div class="row">
  <div class="container-fluid mt-3">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">Sin asignación</h5>
      <table class="table table-responsive-xl table-hover table-sm mx-1">
        <thead>
          <tr>
            <th scope="col">Franquicia</th>
            <th scope="col">Fecha pedido</th>
            <th scope="col">Fecha entrega</th>
            <th scope="col">Estado</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody id="consult_orders">
          {% for p in pedido %}
          <tr>
            <td>{{p.id_pedido.id_franchise.nombre}}</td>
            <td>{{p.id_pedido.fecha_pedido|date:'M-d-Y'}}</td>
            <td>{{p.id_pedido.fecha_ideal|date:'M-d-Y'}}</td>
            <td><i class="fa fa-exclamation-circle fa-lg" aria-hidden="true" style="color: green"></i></td>
            <td>
              <button type="button" class="btn btn-info" name="button" onclick="">
                Ver detalle
              </button>
            </td>
          </tr>
          {% endfor %}
          {% for r in recibido %}
          <tr>
            <td>{{r.id_pedido.id_franchise.nombre}}</td>
            <td>{{r.id_pedido.fecha_pedido|date:'M-d-Y'}}</td>
            <td>{{r.id_pedido.fecha_ideal|date:'M-d-Y'}}</td>
            <td></td>
            <td>
              <button type="button" class="btn btn-info" name="button" onclick="">
                Ver detalle
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% if empty_list_re == 0 %}
<div class="row">
  <div class="container-fluid mt-3">
    <div class="card">
      <div class="card-body">
      <h5 class="card-title">En progreso</h5>
      <table class="table table-responsive-xl table-hover table-sm mx-1">
        <thead>
          <tr>
            <th scope="col">Franquicia</th>
            <th scope="col">Fecha pedido</th>
            <th scope="col">Fecha entrega</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="consult_orders">
          {% for pr in preparar %}
          <tr>
            <td>{{pr.id_pedido.id_franchise.nombre}}</td>
            <td>{{pr.id_pedido.fecha_pedido|date:'M-d-Y'}}</td>
            <td>{{pr.id_pedido.fecha_ideal|date:'M-d-Y'}}</td>
            <td>
              <button type="button" class="btn btn-info" name="button" onclick="">
                Ver detalle
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

<script type="text/javascript" charset="utf8" src="{% static 'js/datatables.js' %}"></script>

{% endblock extras %}
