
{% extends "provider/home.html" %}
{% block title %}OCS - Clientes{% endblock title %}


{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Clientes</h1>
  </div>

  <div class="container">
    <div class='row'>
      <div class="col">
        <a class="btn btn-primary" href="/provider/clients/daily_clients">Asigna clientes diarios</a>
      </div>
    </div>

  </div>



{% endblock content %}
