<!--
"""
Description: HTML view for registering daily clients
Modified by: Fátima
Modify date: 21-10-18
"""
-->
{% extends "provider/home.html" %}
{% block title %}OCS - Clientes{% endblock title %}


{% block content %}

<div class="clearfix">
  <h3 class="float-left">
    Clientes Diarios
  </h3>
  <h3 class="float-right">
  </h3>
</div>

<hr />

  <div class="container">
    <div class="row">
      <div class="col">
      <form method="post">
      {% csrf_token %}
      <div class="form-group row">
        <div class="col-sm-4">
          <label for="day">Día</label>
          <select id="day" name="day" class="form-control">
            <option selected>Selecciona un día</option>
            {% for day in days_list %}
                <option>{{ day.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4">
          <label for="client">Cliente</label>
          <select id="client" name="client" class="form-control">
            <option selected>Selecciona un cliente</option>
            {% for client in clients_list %}
                <option>{{ client.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-sm-4">
          <br>
          <button type="submit" class="btn btn-md btn-primary">Registrar</button>
        </div>
      </div>
      <br><hr>
      </form>
    </div>
    </div>

  </div>



{% endblock content %}
