<!--
"""
Description: HTML view for registering daily clients
Modified by: Fátima
Modify date: 21-10-18
"""
-->
{% extends "provider/home.html" %}
{% block title %}OCS - Clientes{% endblock title %}


{% block content %}

<div class="clearfix">
  <h3 class="float-left">
    Clientes Diarios
  </h3>
  <h3 class="float-right">
  </h3>
</div>

<hr />

<div class="row">
  <div class="col">
    <form method="post">
    {% csrf_token %}
      <div class="form-group row">
        <div class="col-4">
          <label for="client">Cliente</label>
          <select id="client" name="client" class="form-control">
            <option selected disabled>Selecciona un cliente</option>
            {% for client in clients_list %}
                <option>{{ client.id_franchise.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-4">
          <label for="day">Día</label>
          <select id="day" name="day" class="form-control">
            <option selected disabled>Selecciona un día</option>
            {% for day in days_list %}
                <option>{{ day.nombre }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-4 align-self-end">
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </div>
      <hr class="mt-4">
    </form>
  </div>
</div>

<table class="table table-hover table-bordered text-center">
  <thead class="thead-dark">
    <tr>
      <th class="bg-secondary">Clientes:</th>
      <th>Lunes</th>
      <th>Martes</th>
      <th>Miércoles</th>
      <th>Jueves</th>
      <th>Viernes</th>
      <th>Sábado</th>
      <th>Domingo</th>
    </tr>
  </thead>
  <tbody>
    {% for c in clients_list %}
    <tr>
      <th>{{c.id_franchise.nombre}}</th>
      {% if c.id_franchise.id in lunes %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'lunes', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'lunes', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'lunes', false)">

        LUN <span class="fa fa-trash" id="lunes{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'lunes', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'lunes', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'lunes', true)">

        <span class="fa fa-plus" id="lunes{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}

      {% if c.id_franchise.id in martes %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'martes', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'martes', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'martes', false)">
        MAR <span class="fa fa-trash" id="martes{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'martes', true)"
            	                 onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'martes', false)"
                               onclick="addDeleteDailyC({{c.id_franchise.id}}, 'martes', true)">
        <span class="fa fa-plus" id="martes{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}

      {% if c.id_franchise.id in miercoles %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'miercoles', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'miercoles', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'miercoles', false)">
        MIE <span class="fa fa-trash" id="miercoles{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'miercoles', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'miercoles', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'miercoles', true)">
        <span class="fa fa-plus" id="miercoles{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}

      {% if c.id_franchise.id in jueves %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'jueves', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'jueves', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'jueves', false)">
        JUE <span class="fa fa-trash" id="jueves{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'jueves', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'jueves', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'jueves', true)">
        <span class="fa fa-plus" id="jueves{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}

      {% if c.id_franchise.id in viernes %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'viernes', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'viernes', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'viernes', false)">
        VIE <span class="fa fa-trash" id="viernes{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'viernes', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'viernes', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'viernes', true)">
        <span class="fa fa-plus" id="viernes{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}

      {% if c.id_franchise.id in sabado %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'sabado', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'sabado', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'sabado', false)">
        SAB <span class="fa fa-trash" id="sabado{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'sabado', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'sabado', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'sabado', true)">
        <span class="fa fa-plus" id="sabado{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}

      {% if c.id_franchise.id in domingo %}
      <td class="bg-success" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'domingo', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'domingo', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'domingo', false)">
        DOM <span class="fa fa-trash" id="domingo{{c.id_franchise.id}}" hidden></span>
      </td>
      {% else %}
      <td class="bg-warning" onmouseover="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'domingo', true)"
                              onmouseout="showHideAddDeleteDailyC({{c.id_franchise.id}}, 'domingo', false)"
                              onclick="addDeleteDailyC({{c.id_franchise.id}}, 'domingo', true)">
        <span class="fa fa-plus" id="domingo{{c.id_franchise.id}}" hidden></span>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock content %}
