<html>
  <header>
    <title>Tablas test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  
  </header>
  <body>
    <table id="table_id" class="display">
      <thead>
          <tr>
              <th>Column 1</th>
              <th>Column 2</th>
              <th>Column 3</th>

          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>
          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>
          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>
          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>

          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>
          <tr>
              <td>Data 1</td>
              <td>valor</td>
              <td>Data 3</td>
          </tr>
          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>
          <tr>
              <td>Data 1</td>
              <td>Data 2</td>
              <td>Data 3</td>
          </tr>

              <tr>
                  <td>Data 1</td>
                  <td>busca</td>
                  <td>Data 3</td>
              </tr>
              <tr>
                  <td>Data 1</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>
              <tr>
                  <td>Data 1</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>
              <tr>
                  <td>Data 1</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>

              <tr>
                  <td>Data 1</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>
              <tr>
                  <td>Data 1</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>
              <tr>
                  <td>Data 1</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>
              <tr>
                  <td>900</td>
                  <td>Data 2</td>
                  <td>Data 3</td>
              </tr>
      </tbody>
  </table>
  <script>
  $(document).ready( function () {
    $('#table_id').DataTable();
  } );
  </script>
  </body>
</html>
